





.about-us{
  margin-top: calc(var(--margin-unit) * 20);
}

.about-us-text-container{
  width: fit-content;
}

.about-us-section-title{
  text-align: center;
}


.about-us-section-paragraph{
  // margin-top: calc(var(--margin-unit) * 4);
  text-align: justify;
  max-width: 45ch;
  margin-block-start: 0;
}


.about-us-links-container{
  margin-top: calc(var(--margin-unit) * 1);
  gap: calc(var(--margin-unit) * 1);
  align-items: start;
  margin-right: auto;
}




.about-us-image-and-logo-container{
  align-items: center;
}

.about-us-img-placeholder,
.about-us-image{
  margin-top: calc(var(--margin-unit) * 8);

  width: 100%;
  height: 300px;
  background-color: var(--color-black);
  object-fit: cover;
  object-position: center;
}

.about-us-partners-text{
  margin-top: calc(var(--margin-unit) * 2);
}


.about-us-logos{
  img{
    margin-top: calc(var(--margin-unit) * 12);
    width: 200px;
  }
}




@media screen and (min-width: 475px) {

  .about-us{
    margin-top: calc(var(--margin-unit) * 15);
  }

  .about-us-img-placeholder,
  .about-us-image{
    max-width: 470px;
    height: 350px;
  } 

  .about-us-logos{
    img{
      width: 240px;
    }
  }
}

@media screen and (min-width: 1100px) {

  .about-us{
    margin-top: calc(var(--margin-unit) * 20);
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: calc(var(--margin-unit) * 25);
    align-items: start;

    max-width: 1200px; 
  }

  .about-us-section-title{
    width: 100%;
  }

  .about-us-image-and-logo-container{
    margin-left: auto;
  }

  .about-us-img-placeholder,
  .about-us-image{
    margin-top: 0;
    max-width: unset;
    width: 100%;
    max-width: 600px;
    height: 400px;
  }

  .about-us-logos{
    img{
      margin-top: calc(var(--margin-unit) * 8);
      width: 300px;
    }
  }
}