



.footer-section{
  margin-top: calc(var(--margin-unit) * 40);
  padding-block: calc(var(--margin-unit) * 5);
  padding-inline: calc(var(--margin-unit) * 2);
  padding-bottom: calc(var(--margin-unit) * 20);
  width: 100%;
  background-color: var(--color-black);

  gap: calc(var(--margin-unit) * 4);

  align-items: start;


  >*{
    width: fit-content;
    align-items: start;
  }
}

.footer-logo{
  cursor: pointer;
}

.footer-site-nav{
  > *{
    cursor: pointer;
  }
}

.footer-platform-links{
  gap: calc(var(--margin-unit) * 2);
}

.footer-additional-contact{
  gap: calc(var(--margin-unit) * 2);
}

.footer-additional-contact-links{
  gap: inherit;
  align-items: start;
}

.footer-website-author-contact{
  gap: calc(var(--margin-unit) * 2);
}

@media screen and (min-width: 475px){

  .footer-section{
    display: grid;
    width: 100%;
    gap: calc(var(--margin-unit) * 6);
    grid-template-columns: 1fr auto;

    padding-inline: calc(var(--margin-unit) * 4);
    padding-bottom: calc(var(--margin-unit) * 15);
  }
  .footer-logo{
    grid-column: 1/3;
  }

  .footer-site-nav{
    flex-direction: row;
    gap: calc(var(--margin-unit) * 2);
    grid-column: 1/3;
  }

  .footer-platform-links{
    align-self: start;
  }

  .footer-additional-contact{
    gap: calc(var(--margin-unit) * 2);
    align-items: start;
    grid-column: 1/3;
  }

  .footer-website-author-contact{
    gap: calc(var(--margin-unit) * 2);
    grid-column: 1/3;
  }
}

@media screen and (min-width: 800px){

  .footer-section{
    display: grid;
    width: 100%;

    grid-template-columns: 1fr 1fr;
    gap: calc(var(--margin-unit) * 6);
  }

  .footer-logo{
    grid-column: 1/2;
  }

  .footer-site-nav{
    flex-direction: row;
    gap: calc(var(--margin-unit) * 2);
    grid-column: 2/3;
  }

  .footer-platform-links{
    align-self: start;
  }

  .footer-additional-contact{
    gap: calc(var(--margin-unit) * 2);
    align-items: start;
    grid-column: 2/3;

    p{
      white-space: nowrap;
    }
  }

  .footer-additional-contact-links{
    flex-direction: row;
  }


  .footer-website-author-contact{
    gap: calc(var(--margin-unit) * 2);
    grid-column: 1/3;
  }
}