
.hero{
  margin-top: var(--header-height);
}


.hero-container{
  width: 100%;
  align-items: start;
}

.hero-image{
  width: 100vw;
  margin-left: calc(var(--wrapper-inline-padding) * -1);
  z-index: -1;

  height: 250px;
  object-fit: cover;
  object-position: left center;
}

// .hero-image-container{
//   width: 100vw;
//   margin-left: calc(var(--wrapper-inline-padding) * -1);
//   z-index: -1;
//   height: 250px;
//   text-align: center;

//   color: white;

//   background-image: url('../images/hero-mobile-alt.png');


// }


.hero-text-content{
  margin-top: calc(var(--margin-unit) * 3);
  text-align: center;
  width: 100%;
}

.hero-heading{
  max-width: 10ch;
}

.hero-subheading{
  margin-top: calc(var(--margin-unit) * 5);
  max-width: 30ch;
}

.hero-cta{
  margin-top: calc(var(--margin-unit) * 6);
  // margin-left: auto;
  margin-inline: auto;

  padding: 14px;

  .button-inner-text-style{
    font-size: 1.2rem;
  }
}


@media screen and (min-width: 475px) {
  .hero{
    position: relative;
    min-height: 500px;
    overflow: hidden;

    background: url('../images/hero-tablet.png');
    background-size: cover;
  }

  .hero-container{
    justify-content: space-between;
    min-height: inherit;
    height: 100%;
  }

  .hero-text-content{
    margin-top: calc(var(--margin-unit) * 6);
    color: white;
    text-align: left;
    display: block;
  }

  .hero-heading{
    max-width: 15ch;
  }

  .hero-subheading{
    margin-top: calc(var(--margin-unit) * 6);
    color: white;
  }
  
  .hero-cta{
    margin-bottom: calc(var(--margin-unit) * 10);
    margin-left: 100%;
    transform: translateX(-110%);

    .button-inner-text-style{
      font-size: 1.5rem;
    }
  }
}



@media screen and (min-width: 800px) {
  .hero{
    min-height: 600px;

    background: url('../images/hero-desktop-modified.png');
    background-size: cover;
    background-position: bottom left;
  }

  .hero-text-content{
    position: relative;
    width: fit-content;
    z-index: 1;
  }

  .hero-text-content::after{
    content: "";

    background: url("../images/hero-mask.png");
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 8%;
    left: -35%;
    width: 1000px;
    height: 1000px;
    transform: scale(1.5);
    z-index: -1;
  }

  .hero-heading{
    margin-top: calc(var(--margin-unit) * 24);
    color: white;
  }
  
  .hero-subheading{
    margin-top: calc(var(--margin-unit) * 2);
    color: white;
  }
  
  .hero-cta{
    margin-top: calc(var(--margin-unit) * 17);
    margin-left: 100%;
    transform: translateX(-110%);
  }
}

