


.services-section{
  margin-top: calc(var(--margin-unit) * 20);
}

.services-section-title{
  text-align: center;
}


.services-container{
  margin-top: calc(var(--margin-unit) * 5);
  row-gap: calc(var(--margin-unit) * 4);
  width: 100%;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
}

.services-group{
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  gap: inherit;
}

.service{
  width: 100%;
  height: 100%;
  padding-top: calc(var(--margin-unit) * 3);
  padding-inline: calc(var(--margin-unit) * 4);
  padding-bottom: calc(var(--margin-unit) * 9);
}

.service-paragraph{
  margin-top: calc(var(--margin-unit) * 4);
  max-width: 40ch;
}


.service-image-container{
  height: 100%;
  overflow: hidden;
  position: relative;
  img{
    width: 100%;
    object-fit: cover;
    height: inherit;
    position: absolute;
  }
}


.service-image-container-1{
  img{
    object-position: right;
  }
}

.services-cta{
  margin-top: calc(var(--margin-unit) * 6);
}








@media screen and (min-width: 650px) {
  .services-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: calc(var(--margin-unit) * 4);
  }

  .services-group-1{
    grid-template-columns: 1fr 1.6fr;
    grid-template-rows: 1fr;
  }
  .services-group-2{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .services-group-3{
    grid-template-columns: 1fr 1.6fr;
    grid-template-rows: 1fr;
  }
}













@media screen and (min-width: 800px) {

  // column-gap: calc(var(--margin-unit) * 4);

  .services-cta{
    margin-top: calc(var(--margin-unit) * 6);
  }
}











.service-1{
  background-color: var(--color-service-1);
}
.service-2{
  background-color: var(--color-service-2);
}
.service-3{
  background-color: var(--color-service-3);
}
.service-4{
  background-color: var(--color-service-4);
}