body{
  min-height: 200vh;
  color: var(--color-black);
}



.common-button{
  padding: calc(var(--margin-unit) * 3);
  border: none;
  white-space: nowrap;
  cursor: pointer;
}

a{
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .flow-app{
    >*:not(:first-child) {
      margin-top: calc(var(--margin-unit) * 24);
    }
  }
}

